v4/wheel-sheet-cut2.svg filter=lfs diff=lfs merge=lfs -text
v4/solid-sheet-plain.svg filter=lfs diff=lfs merge=lfs -text
v4/machine-sheet-cut2.svg filter=lfs diff=lfs merge=lfs -text
v4/wheel-sheet.png filter=lfs diff=lfs merge=lfs -text
v4/board.svg filter=lfs diff=lfs merge=lfs -text
v4/punchout-sheets.svg filter=lfs diff=lfs merge=lfs -text
v4/machine-sheet.png filter=lfs diff=lfs merge=lfs -text
v4/letter-sheet-back.png filter=lfs diff=lfs merge=lfs -text
v4/tmp-reverse-keys.svg filter=lfs diff=lfs merge=lfs -text
v4/punchout-sheets-large.svg filter=lfs diff=lfs merge=lfs -text
v4/solid-sheet.svg filter=lfs diff=lfs merge=lfs -text
v5/frontfacing-image.png filter=lfs diff=lfs merge=lfs -text
v5/frontfacing-image2.png filter=lfs diff=lfs merge=lfs -text
v5/dualboard.svg filter=lfs diff=lfs merge=lfs -text
v5/frontfacing.svg filter=lfs diff=lfs merge=lfs -text
v5/frontfacing-linedrawing.png filter=lfs diff=lfs merge=lfs -text
old/punchout3.svg filter=lfs diff=lfs merge=lfs -text
old/punch-wheel-front.png filter=lfs diff=lfs merge=lfs -text
old/punch-letters-cut.svg filter=lfs diff=lfs merge=lfs -text
old/punch-row-hard1.png filter=lfs diff=lfs merge=lfs -text
old/punch-header-cut.svg filter=lfs diff=lfs merge=lfs -text
old/punch-row-cut.svg filter=lfs diff=lfs merge=lfs -text
old/punch-row-back.png filter=lfs diff=lfs merge=lfs -text
old/punch-row-easy1.png filter=lfs diff=lfs merge=lfs -text
old/punchout2.svg filter=lfs diff=lfs merge=lfs -text
old/punch-wheel-cut.svg filter=lfs diff=lfs merge=lfs -text
old/punch-back.png filter=lfs diff=lfs merge=lfs -text
old/punch-row-easy2.png filter=lfs diff=lfs merge=lfs -text
old/punch-row-front.png filter=lfs diff=lfs merge=lfs -text
old/punch-machine-cut.svg filter=lfs diff=lfs merge=lfs -text
old/punch-letters.png filter=lfs diff=lfs merge=lfs -text
v3/1885_Chicago_&_Alton_map_only.jpg filter=lfs diff=lfs merge=lfs -text
v3/board-misc.svg filter=lfs diff=lfs merge=lfs -text
v3/board.svg filter=lfs diff=lfs merge=lfs -text
v3/board.png filter=lfs diff=lfs merge=lfs -text
v3/box.svg filter=lfs diff=lfs merge=lfs -text
v3/board.svg.2019_10_01_21_39_53.0.svg filter=lfs diff=lfs merge=lfs -text
v3/box.png filter=lfs diff=lfs merge=lfs -text
v3/grid2.svg filter=lfs diff=lfs merge=lfs -text
v3/grid.svg filter=lfs diff=lfs merge=lfs -text
